<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Iris</title>
</head>
<body>
    <h1>Prediksi Iris</h1>

    <form action="http://localhost:5000/hasil" method="POST">
        <p>SL:<input name="SL" type="text"></p>
        <p>SW:<input name="SW" type="text"></p>
        <p>PL:<input name="PL" type="text"></p>
        <p>PW:<input name="PW" type="text"></p>
        <p><input type="submit" value="PREDICT!"></p>
    </form>

</body>
</html>